<!DOCTYPE html>
<html lang="en">
<head>
    
    <title><%= title %></title>
</head>
<body>
    <%- include("../partial/data.ejs") %>
    <h1>Hi this is index file</h1>
    <a href="/download">download this file</a>
    <%- include("../partial/section.ejs") %>
</body>
</html>